
/*CSS GERAL*/
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: "Kumbh Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500; /* ou o valor desejado */
    font-style: normal;
    font-variation-settings: "YOPQ" 116;
    color: #2D2D2D;
    background-color: #F0F0F0;
    margin: 0 auto;
}


/*HEADER*/
.header {
    padding: 30px;
    text-align: center;
}

.header a{ 
    text-decoration: none;
    font-size: 16px;
    margin-right: 60px;
    color: #2D2D2D;
}

#homeMenu {
    margin-right: 100px;
}

.header a:hover {
    background-color:  #F0F0F0;
    border: solid 1px;
    padding: 10px;
    border-radius: 10px;
}

.header a.active {
    background-color:  #F0F0F0;
    border: solid 1px;
    padding: 10px;
    border-radius: 10px;
}
/*FIM HEADER*/

.titleHome {
    font-weight: 500;
    text-align: left;
    margin-left: 150px;
    font-size: 48px;
}

.purpleBg {
    background-color: #C885F1;
    border-radius: 10px 10px 10px 10px;
    box-shadow: -55px 0 0 #C885F1; 
}