
/*CSS GERAL*/
body {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    overflow-x: hidden;
    font-family: "Kumbh Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500; /* ou o valor desejado */
    font-style: normal;
    font-variation-settings: "YOPQ" 116;
    color: #2D2D2D;
    background-color: #F0F0F0;
}


/*HEADER*/
.header {
    padding: 30px;
    text-align: center;
}

.header a { 
    font-size: 16px;
    margin-right: 60px;
    color: #2D2D2D;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px transparent; /* Borda transparente para reservar espaço */
}

.link {
    text-decoration: none;
    color: #2D2D2D;
}

#homeMenu {
    margin-right: 240px;
    text-decoration: none;
}

#invernoMenu {
    margin-right: 0;
}

.header a:hover {
    background-color: #F0F0F0;
    border-color: #2D2D2D; 
}

.header a.active {
    background-color: #F0F0F0;
    border-color: #2D2D2D;
}
/*FIM HEADER*/

/*TOPO*/
.topoHome {
    max-width: fit-content;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}

.mainTitle {
    font-weight: 500;
    font-size: 48px;
    display: block;
    margin: auto;
}

.purpleBg {
    background-color: #C885F1;
    border-radius: 10px 10px 10px 10px;
    box-shadow: -55px 0 0 #C885F1; 
}
/*FIM TOPO*/

/*OPÇÕES*/
.optionText {
    max-width: fit-content;
    margin: auto;
}

.optionText p {
    margin-right: 530px;
    font-size: 20px;
}

#orangeBg {
    background-color: #F3B341;
    padding: 50px;
    margin-bottom: 50px;
}

.optionAll {
    align-items: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    margin: auto;
    display: flex;
    gap: 20px;
}

.option {
    background-color: white;
    width: 191px;
    height: 149px;
    display: inline-block;
    text-align: left;
    border-radius: 30px;
    box-shadow: 2px 2px 6px 1px rgb(0 0 0 / 25%);
    border: solid 1px transparent;
}

.option p {
    padding: 20px;
    font-size: 24px;
}

.option span {
    font-weight: 700;
}

.option:hover {
    border-color: #2D2D2D;
}
/*FIM OPÇÕES*/

/*FOOTER CADASTRE-SE*/
.footer {
    max-width: fit-content;
    margin: auto;
    font-size: 20px;
}

.botao {
    background-color: #F3B341;
    padding: 1px 30px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 2px 2px 6px 1px rgb(0 0 0 / 25%);
    border: solid 1px transparent;
    width: 442px;
    margin: auto;
}

.botao:hover {
    border-color: #2D2D2D;
}

