
/*CSS GERAL*/
body {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    overflow-x: hidden;
    font-family: "Kumbh Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500; /* ou o valor desejado */
    font-style: normal;
    font-variation-settings: "YOPQ" 116;
    color: #2D2D2D;
    background-color: #F0F0F0;
    display: relative;
}


/*HEADER*/
.header {
    padding: 30px;
    text-align: center;
}

.header a { 
    font-size: 16px;
    margin-right: 60px;
    color: #2D2D2D;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px transparent; /* Borda transparente para reservar espaço */
}

.link {
    text-decoration: none;
    color: #2D2D2D;
}

#homeMenu {
    margin-right: 240px;
    text-decoration: none;
}

#invernoMenu {
    margin-right: 0;
}

.header a:hover {
    background-color: #F0F0F0;
    border-color: #2D2D2D; 
}

.header a.active {
    background-color: #F0F0F0;
    border-color: #2D2D2D;
}
/*FIM HEADER*/

/*HOME*/

/*TOPO*/
.topoHome {
    max-width: fit-content;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.mainTitle {
    font-weight: 500;
    font-size: 48px;
    display: block;
    margin: auto;
}

.purpleBgHome {
    background-color: #C885F1;
    border-radius: 10px 10px 10px 10px;
    box-shadow: -55px 0 0 #C885F1; 
}
/*FIM TOPO*/

/*OPÇÕES*/
.optionText {
    max-width: fit-content;
    margin: auto;
}

.optionText p {
    margin-right: 530px;
    font-size: 20px;
}

#orangeBg {
    background-color: #F3B341;
    padding: 50px;
    margin-bottom: 50px;
}

.optionAll {
    align-items: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    margin: auto;
    display: flex;
    gap: 20px;
}

.option {
    background-color: white;
    width: 191px;
    height: 149px;
    display: inline-block;
    text-align: left;
    border-radius: 30px;
    box-shadow: 2px 2px 6px 1px rgb(0 0 0 / 25%);
    border: solid 1px transparent;
}

.option p {
    padding: 20px;
    font-size: 24px;
}

.option span {
    font-weight: 700;
}

.option:hover {
    border-color: #2D2D2D;
}
/*FIM OPÇÕES*/

/*FOOTER CADASTRE-SE*/
.footer {
    max-width: fit-content;
    margin: auto;
    font-size: 20px;
}

.botao {
    background-color: #F3B341;
    padding: 1px 30px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 2px 2px 6px 1px rgb(0 0 0 / 25%);
    border: solid 1px transparent;
    width: 442px;
    margin: auto;
    margin-bottom: 80px;
}

.botao:hover {
    border-color: #2D2D2D;
}
/*FIM FOOTER CADASTRE-SE*/

/*FIM HOME*/

/*FLORES DE ... */
.topoSeason {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    margin: auto;
    max-width: 800px; 
    width: 100%; 
    padding: 0 20px;
    margin-top: 50px;
}

.purpleBgSeason {
    background-color: #C885F1;
    border-radius: 10px;
    box-shadow: 55px 0 0 #C885F1; 
}


.seasonTitle {
    font-weight: 500;
    font-size: 48px;
    text-align: left; /* Alinha o texto à esquerda */
    margin-bottom: 50px;
}
/*FLORES DE ... FIM*/

/*IMAGENS FLORES*/
.imagens{
    align-items: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    margin: auto;
    display: flex;
    gap: 250px;
}

.flwTitle {
    font-size: 24px;
    margin-left: 10px;
}

.img {
    margin: 10px 0;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    justify-content: center;
    align-items: center;
    z-index: 9998;
}

.modal {
    background-color: #F3B341;
    width: 270px;
    max-height: 80%;
    border-radius: 10px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    z-index: 9999;
    overflow-y: auto;
}

.modalTitle {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.modalText {
    font-weight: 400;
    align-items: center;
    line-height: 25px;
    margin-bottom: 20px;
}

.closeButton {
    background-color: white;
    border-radius: 50%;
    padding: 10px 12px;
    font-weight: 800;
    align-items: right;
    cursor: pointer;
}

header {
    text-align: right;
    margin: auto;
}

.modalButton {
    background-color: #F3B341;
    border-radius: 130px;
    border: 0px;
    padding: 10px 20px;
    font-family: "Kumbh Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500; /* ou o valor desejado */
    font-style: normal;
    font-variation-settings: "YOPQ" 116;
    color: #2D2D2D;
    cursor: pointer;
    border: solid 1px transparent;
    margin-bottom: 50px;
}

.saibaMais {
    align-items: center;
    text-align: center;
}

.modalButton:hover {
    border-color: #2D2D2D;
}
